.error-handler {
    display: flex;

    align-items: center;

    flex-flow: column;

    &__icon {
        width: 100px;
        height: 100px;

        @media all and (min-width:1024px) {
            width: 200px;
            height: 200px;
        }
    }

    &__txt {
        font: {
            size: 20px;
        }

        @media all and (min-width:1024px) {
            font: {
                size: 26px;
            }
        }
    }
}